acres==0.2.0
ag2==0.5.3
aiofile==3.9.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiolimiter==1.2.1
aiosignal==1.3.2
aiosqlite==0.20.0
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
anthropic==0.45.2
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arize-phoenix-otel==0.7.1
arrow==1.3.0
asgiref==3.8.1
assemblyai==0.35.1
astra-assistants==2.2.9
astrapy==1.5.2
asttokens==3.0.0
async-lru==2.0.5
async-timeout==5.0.1
asyncer==0.0.8
atlassian-python-api==3.41.16
attrs==25.1.0
auth0-python==4.8.0
Authlib==1.5.2
babel==2.17.0
backoff==2.2.1
backports.tarfile==1.2.0
bce-python-sdk==0.9.25
bcrypt==4.0.1
beautifulsoup4==4.12.2
bleach==6.2.0
blinker==1.9.0
boto3==1.34.162
botocore==1.34.162
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.0
caio==0.9.21
cassandra-driver==3.29.2
cassio==0.1.10
cattrs==24.1.2
certifi==2020.6.20
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
chroma-hnswlib==0.7.6
chromadb==0.5.23
ci-info==0.3.0
circuitbreaker==2.0.0
cleo==2.1.0
clevercsv==0.8.3
click==8.1.8
clickhouse-connect==0.7.19
cohere==5.13.11
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.9.0
comm==0.2.2
composio_core==0.6.16
composio_langchain==0.6.16
configobj==5.0.6
configparser==7.1.0
coolname==2.2.0
crashtest==0.4.1
crewai==0.86.0
crewai-tools==0.25.5
cryptography==43.0.3
dataclasses-json==0.6.7
datasets==2.2.1
dbus-python==1.2.18
debugpy==1.8.14
decorator==5.1.1
deepdiff==8.1.1
defusedxml==0.7.1
Deprecated==1.2.15
deprecation==2.1.0
dill==0.3.9
dirtyjson==1.0.8
diskcache==5.6.3
distlib==0.3.9
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
docx2txt==0.8
dspy==2.5.7
dspy-ai==2.5.41
duckdb==1.1.3
duckduckgo_search==7.2.1
dulwich==0.22.7
duplicity==0.8.21
durationpy==0.9
e2b==1.0.6
e2b-code-interpreter==1.0.4
ecdsa==0.19.0
elastic-transport==8.17.0
elasticsearch==8.17.1
email_validator==2.2.0
embedchain==0.1.125
emoji==2.14.1
environs==9.5.0
et_xmlfile==2.0.0
etelemetry==0.3.1
eval_type_backport==0.2.2
Events==0.5
exceptiongroup==1.2.2
executing==2.2.0
faiss-cpu==1.9.0.post1
fake-useragent==1.5.1
fastapi==0.115.8
fastapi-pagination==0.12.34
fastavro==1.9.7
fasteners==0.14.1
fastjsonschema==2.21.1
filelock==3.10.7
filetype==1.2.0
firecrawl-py==1.11.0
fitz==0.0.1.dev2
FLAML==2.3.3
Flask==2.3.2
Flask-Cors==5.0.0
flatbuffers==25.1.24
fqdn==1.5.1
frontend==0.0.3
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2025.2.0
future==0.18.2
geomet==0.2.1.post1
gitdb==4.0.12
GitPython==3.1.43
google-adk==0.2.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.1
google-api-python-client==2.167.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-cloud-aiplatform==1.90.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.14.0
google-cloud-secret-manager==2.23.3
google-cloud-speech==2.32.0
google-cloud-storage==2.19.0
google-cloud-trace==1.16.1
google-crc32c==1.6.0
google-genai==1.11.0
google-generativeai==0.8.4
google-resumable-media==2.7.2
google_search_results==2.4.2
googleapis-common-protos==1.66.0
gotrue==2.11.3
gpg==1.16.0
gptcache==0.1.44
grandalf==0.8
graphviz==0.20.3
greenlet==3.1.1
griffe==1.5.6
groq==0.16.0
grpc-google-iam-v1==0.14.0
grpcio==1.70.0
grpcio-health-checking==1.70.0
grpcio-status==1.62.3
grpcio-tools==1.70.0
gunicorn==23.0.0
h11==0.14.0
h2==4.1.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.7
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.19.4
humanfriendly==10.0
hyperframe==6.1.0
idna==3.3
ijson==3.3.0
importlib-metadata==6.11.0
importlib_resources==6.4.5
inflection==0.5.1
iniconfig==2.0.0
installer==0.7.0
instructor==1.5.2
ipykernel==6.29.5
ipython==8.32.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.5
jiter==0.5.0
jmespath==1.0.1
joblib==1.4.2
jq==1.8.0
json5==0.12.0
json_repair==0.30.3
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==25.6.0
kubernetes==31.0.0
lancedb==0.18.0
langchain==0.3.10
langchain-anthropic==0.3.0
langchain-astradb==0.5.2
langchain-aws==0.2.7
langchain-chroma==0.1.4
langchain-cohere==0.3.3
langchain-community==0.3.10
langchain-core==0.3.33
langchain-elasticsearch==0.3.0
langchain-experimental==0.3.4
langchain-google-calendar-tools==0.0.1
langchain-google-community==2.0.3
langchain-google-genai==2.0.6
langchain-google-vertexai==2.0.7
langchain-groq==0.2.1
langchain-milvus==0.1.7
langchain-mistralai==0.2.3
langchain-mongodb==0.2.0
langchain-nvidia-ai-endpoints==0.3.5
langchain-ollama==0.2.1
langchain-openai==0.2.12
langchain-pinecone==0.2.2
langchain-tests==0.3.10
langchain-text-splitters==0.3.5
langchain-unstructured==0.1.5
langchainhub==0.1.21
langflow==1.1.3
langflow-base==0.1.3
langfuse==2.53.9
langsmith==0.1.147
language-selector==0.1
langwatch==0.1.16
lark==1.2.2
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
litellm==1.67.1
lockfile==0.12.2
logfire-api==3.4.0
loguru==0.7.3
looseversion==1.3.0
louis==3.20.0
lsprotocol==2023.0.1
lxml==5.3.0
lz4==4.4.3
macaroonbakery==1.3.1
magicattr==0.1.6
Mako==1.1.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.2
matplotlib-inline==0.1.7
mcp==1.6.0
mdurl==0.1.2
meld==3.20.4
mem0ai==0.1.34
metal_sdk==2.5.1
metaphor-python==0.1.23
milvus-lite==2.4.11
mistralai==1.5.0
mistune==3.1.3
mmh3==5.1.0
monotonic==1.6
more-itertools==8.10.0
motor==3.7.1
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
multitasking==0.0.11
mypy-extensions==1.0.0
nanoid==2.0.0
narwhals==1.21.1
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
needle-python==0.4.0
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.4.2
nibabel==5.3.2
nipype==1.9.2
nodeenv==1.9.1
notebook_shim==0.2.4
numexpr==2.10.2
numpy==1.24.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.8.61
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
oci==2.143.0
olefile==0.46
ollama==0.4.5
onnxruntime==1.20.1
openai==1.76.0
openinference-instrumentation==0.1.21
openinference-instrumentation-langchain==0.1.30
openinference-semantic-conventions==0.1.12
openpyxl==3.1.5
opensearch-py==2.8.0
opentelemetry-api==1.32.1
opentelemetry-exporter-gcp-trace==1.9.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-exporter-otlp-proto-common==1.29.0
opentelemetry-exporter-otlp-proto-grpc==1.29.0
opentelemetry-exporter-otlp-proto-http==1.29.0
opentelemetry-exporter-prometheus==0.50b0
opentelemetry-instrumentation==0.50b0
opentelemetry-instrumentation-asgi==0.50b0
opentelemetry-instrumentation-fastapi==0.50b0
opentelemetry-proto==1.29.0
opentelemetry-resourcedetector-gcp==1.9.0a0
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
opentelemetry-util-http==0.50b0
optuna==4.2.0
orderly-set==5.2.3
orjson==3.10.0
outcome==1.3.0.post0
overrides==7.7.0
packaging==23.2
pandas==2.2.2
pandocfilters==1.5.1
paramiko==3.5.0
parso==0.8.4
passlib==1.7.4
pathlib==1.0.1
pdfminer.six==20231228
pdfplumber==0.11.5
peewee==3.17.8
pexpect==4.8.0
pgvector==0.3.6
Pillow==9.0.1
pinecone==5.4.2
pinecone-plugin-inference==3.1.0
pinecone-plugin-interface==0.0.7
pkginfo==1.12.0
platformdirs==4.3.6
pluggy==1.5.0
poetry==2.0.0
poetry-core==2.0.0
portalocker==2.10.1
postgrest==0.16.11
posthog==3.11.0
primp==0.11.0
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.2.1
proto-plus==1.26.0
protobuf==4.25.6
prov==2.0.1
psutil==5.9.0
ptyprocess==0.7.0
pure_eval==0.2.3
puremagic==1.28
py==1.11.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.11
pyautogen==0.5.3
pycairo==1.20.1
pycparser==2.22
pycryptodome==3.21.0
pycups==2.0.1
pydantic==2.10.6
pydantic-ai==0.0.21
pydantic-ai-slim==0.0.21
pydantic-graph==0.0.21
pydantic-settings==2.9.1
pydantic_core==2.27.2
pydeck==0.9.1
pydot==3.0.3
pyflakes==3.2.0
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.10.1
pylance==0.22.0
pymacaroons==0.13.0
pymilvus==2.4.9
pymongo==4.10.1
PyNaCl==1.5.0
pyOpenSSL==24.3.0
pyparsing==3.2.0
pypdf==5.1.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyperclip==1.9.0
PyPika==0.48.9
pyproject_hooks==1.2.0
pyRFC3339==1.1
pyright==1.1.393
pysbd==0.3.4
Pysher==1.0.8
PySocks==1.7.1
pytest==8.3.4
pytest-asyncio==0.25.3
pytest-socket==0.7.0
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-docx==1.1.2
python-dotenv==1.0.0
python-jose==3.3.0
python-json-logger==3.3.0
python-lsp-jsonrpc==1.1.2
python-magic==0.4.27
python-multipart==0.0.20
pytube==15.0.0
pytz==2024.2
pyvis==0.3.2
pyxdg==0.27
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==26.4.0
qdrant-client==1.9.2
qianfan==0.3.5
ragstack-ai-knowledge-store==0.2.1
RapidFuzz==3.11.0
rdflib==6.3.2
realtime==1.0.6
redis==5.2.1
referencing==0.36.2
regex==2024.11.6
reportlab==3.6.8
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
responses==0.18.0
retry==0.9.2
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.22.3
rsa==4.9
ruff==0.9.4
s3transfer==0.10.4
safetensors==0.5.2
schema==0.7.7
scikit-learn==1.3.0
scipy==1.15.2
scrapegraph_py==1.10.2
SecretStorage==3.3.1
selenium==4.28.1
semver==3.0.4
Send2Trash==1.8.3
sentence-transformers==2.4.0
sentry-sdk==2.20.0
serpapi==0.1.5
shapely==2.0.7
shellingham==1.5.4
simplejson==3.19.3
simsimd==6.2.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.1
spider-client==0.1.24
SQLAlchemy==2.0.36
sqlmodel==0.0.22
sse-starlette==2.2.1
sseclient-py==1.8.0
stack-data==0.6.3
starlette==0.43.0
storage3==0.7.7
streamlit==1.29.0
StrEnum==0.4.15
striprtf==0.0.26
structlog==25.1.0
supabase==2.6.0
supafunc==0.5.1
sympy==1.13.3
syrupy==4.8.1
systemd-python==234
tabulate==0.9.0
tenacity==8.5.0
termcolor==2.5.0
terminado==0.18.1
terminator==2.1.1
threadpoolctl==3.5.0
tiktoken==0.9.0
tinycss2==1.4.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.2
torch==2.1.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
traits==6.4.3
transformers==4.36.2
tree-sitter==0.23.2
tree-sitter-python==0.23.6
trio==0.28.0
trio-websocket==0.11.1
triton==2.1.0
trove-classifiers==2025.1.7.14
typer==0.15.1
types-cachetools==5.5.0.20240820
types-python-dateutil==2.9.0.20241206
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.3.1
ubuntu-cleaner==1.1.4
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
ujson==5.10.0
unattended-upgrades==0.1
uncurl==0.0.11
unstructured-client==0.25.9
upstash-vector==0.6.0
uri-template==1.3.0
uritemplate==4.1.1
urllib3==1.26.5
usb-creator==0.3.7
uuid==1.30
uuid6==2024.7.10
uv==0.5.24
uvicorn==0.34.0
uvloop==0.21.0
validators==0.34.0
vboxapi==1.0
virtualenv==20.28.1
wadllib==1.3.6
wasabi==1.1.2
watchdog==6.0.0
watchfiles==0.24.0
wcwidth==0.2.13
weasel==0.3.4
weaviate-client==4.10.2
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
widgetsnbextension==4.0.13
wikipedia==1.4.0
wolframalpha==5.1.3
wrapt==1.16.0
wsproto==1.2.0
xdg==5
xgboost==2.1.1
xkit==0.0.0
xlrd==2.0.1
XlsxWriter==3.2.0
xmltodict==0.13.0
xxhash==3.5.0
yake==0.4.8
yarl==1.18.3
yfinance==0.2.50
youtube-transcript-api==0.6.3
zep-python==2.0.2
zipp==3.21.0
zstandard==0.23.0
